<header>
    <nav>
        <h2><a href="/">Квадрат Полібія</a></h2>
        <h2><a href="/gronsfeld">Шифрування Гронсфельда</a></h2>
        <h2><a href="/double-playfair">Подвійний квадрат Полібія</a></h2>
    </nav>
</header>